
body {
    background-color: rgb(112, 146, 190);
    /*background-color: red;*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background: #dddddd;
}


.header {
    background-color: rgb(247, 198, 16);
    border-style: solid;
    border-width: thick;
    border-color: rgb(189, 66, 16);
    /*height: 85px;*/
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.box {
    background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
    padding:0px 10px 10px 10px;
    text-align: center;
    /*vertical-align: middle;*/
    margin: 0 auto;
    width: 600px;
}

.boxLink {
    background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
    width: 200px;
/*    height: 75px;*/
    text-align: center;
    vertical-align: middle;
}

.homeBoxLink {
        background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
    width: 200px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.center {
/*
    background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
*/
    width: 400px;
    
}

.homeTable {
/*    padding:0px 100px 0px 100px;*/
}

.homeTr {
    
}

.homeTd {
      padding:0px 100px 0px 100px;
}

.headerTd {
    padding:0px 200px 0px 200px;
}

table td{

 /*padding:0px 100px 0px 100px;*/ /* top right bottom left */

 }