
body {
    background-color: rgb(112, 146, 190);
    /*background-color: red;*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(16, 181, 132);
    outline-color: red;
    outline-width: thick;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background: #dddddd;
}
.title {
    font-size: xx-large;
}

.image{
    height: 100px;
    width: 100px;
}

.header {
    background-color: rgb(247, 198, 16);
    border-style: solid;
    border-width: thick;
    border-color: rgb(189, 66, 16);
    /*height: 85px;*/
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.box {
    background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
    padding:0px 10px 10px 10px;
    text-align: center;
    /*vertical-align: middle;*/
    margin: 0 auto;
    width: 600px;
}
.tableBox {
    background-color: rgb(16, 181, 132);
    border-style: solid;
    border-width: thick;
    border-color: rgb(0, 107, 165);
    padding:0px 10px 10px 10px;
    text-align: center;
    /*vertical-align: middle;*/
    margin: 0 auto;
    width: 600px;
}

.center {

    width: 400px;
    
}

