<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<h1>URL: <%= urll %>    </h1>
    
<br>


<table>
<% for(var i=0; i < html.length; i++) { %>
   <tr>
     <td><%= html[i] %> <br> </td>
   </tr>
   <tr></tr>
<% } %>
</table>
    
<!-- <p> HTML: <br><br> <%= html %> </p> -->


</body>
</html>
