<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<h1>URL: <%= urll %>    </h1>
    
<br>

<script type="text/javascript">
	for (var i = Things.length - 1; i >= 0; i--) {

	}
</script>
    
<p> HTML: <br><br> <%= html.count() %> </p>


</body>
</html>
