<!DOCTYPE html>
<html>
<head>
	<style>
	table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	}

	td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	}

	tr:nth-child(even) {
	background-color: #dddddd;
	}
	</style>
</head>

<body>
<h1>URL: <%= urll %>    </h1>
    
<br>

<h2>Here are the past 20 tweets from that URL</h2><br>
<table>
<% for(var i=0; i < html.length; i++) { %>
   <tr>
     <td><%= html[i] %> <br> </td>
   </tr>
   <tr></tr>
<% } %>
</table>
    
<!-- <p> HTML: <br><br> <%= html %> </p> -->


</body>
</html>
