<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
<h1>URL: <%= urll %>    </h1>
    
<br>
<script type="text/javascript">
	var parsed = "<%= ";
	for (var i in html) {
		parsed += html[i] + "\n";
	}
	parsed += " %>";
	document.getElementById("demo").innerHTML = html[0];
</script>
    
    <p id="demo"></p>
<!-- <p> HTML: <br><br> <%= html[0] %> </p> -->

<%= html[0] %>


</body>
</html>
