<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./styles.css">
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
  
</head>

<body>

<form action="./display" method="GET">
  
	<h1 class="header">
		A Simple Twitter Page
		<br>
		<h3>Enter a twitter page url, and it will generate a simplified version of their twitter page</h3>

	</h1>
	<br>

	<div class="box"> 
		<br>Twitter Page URL: <input type="text" name="enteredUrl" id="enteredUrl"> 
    	<br>
    	<p>Example: https://twitter.com/McDonalds</p>
		<button type="submit">Submit</button>
	</div>

</form>

</body>
</html>
