<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

<form action="./display" method="GET">
  

	Twitter Page URL: <input type="text" name="enteredUrl" id="enteredUrl">
    <br><br>
    <p>Example: 'https://twitter.com/McDonalds?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'</p>
<button type="submit">Submit</button>

</form>

</body>
</html>
