<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

<form action="./display" method="GET">
  

Twitter Page URL: <input type="text" name="enteredUrl" id="enteredUrl">
    <br>
<button type="submit">Submit</button>

</form>

</body>
</html>
